extends ../base

block content
  if errorMessage
    span= errorMessage
  form(method="post")
    input(placeholder="New Password", name="oldPassword")
    input(placeholder="Old Password", name="newPassword")
    input(
      placeholder="New Password Confirmation",
      name="newPasswordConfirmation"
    )
    input(value="Change Password", type="submit", name="")
